[package]
edition = "2021"
name = "chaos"
publish = false
version = "0.0.0"

[profile.dev]
panic = "abort"

[profile.release]
debug = true
lto = true
panic = "abort"

[dependencies]
allocator = { path = "../allocator" }
num-bigint = "0.4.6"
static_assertions = "1.1.0"
